%h1 ビールカテゴリー
.category__link
  - @categories.each do |category|
    = link_to "#{category.name}", category_path(category)
%br/
%h1 ビール一覧
.item__link
  - @items.each do |item|
    = link_to "#{item.name}", item_path(item)
    = image_tag item.item_images[0].image.url , class: "main__item__post__new__image"