%h2 新規ユーザー登録
.user_new
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .user_form
      .field
        = f.label :ニックネーム
        %br/
        = f.text_field :nickname, autofocus: true
      .field
        = f.label :メールアドレス
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :パスワード
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :パスワード（確認）
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "登録する"
    .user_form__att
      登録済みの場合はこちらから
      = render "devise/shared/links"
