.user
  .user__header
    .user__header__title
      = "#{@user.nickname} さんのマイページ"
    .user__header__change
      -if @user_profile == nil && @user.id == current_user.id
        = link_to "プロフィール設定" , new_user_profile_path(@user.id)
      -elsif @user_profile != nil && @user.id == current_user.id
        = link_to "プロフィール変更" , edit_user_profile_path(@user.id, @user_profile.id)

  .user__profile
    -if @user_profile != nil
      - @profile.each do |profile|
        -if profile.image == nil
          .user__profile__images
        - else
          .user__profile__images
            = image_tag profile.image.url ,class: "user__profile__image"
        .user__profile__status
          = "#{@user.nickname} さんのプロフィール"
          .user__profile__status__favorite
            好きなビール・メーカー :
            = profile.favorite
          .user__profile__status__profiles
            自己紹介 :
            = profile.profiles
    - else
      .user__profile__images
      .user__profile__status
        = "#{@user.nickname} さんのプロフィール"
        .user__profile__status__favorite
          好きなビール・メーカー :
        .user__profile__status__profiles
          自己紹介 :

      
  .user_review_item
    このユーザーがレビューしたビール
    .user__review_item
      .item_list_wall
        - @reviews.each do |review|
          = link_to item_path(review.id) do
            .user__review_item__list
              .user__review_item__list__image
                = image_tag review.item_images[0].image.url, class:"user__review__image"
              .user__review_item__list__status
                .user__review_item__list__name
                  = review.name
                .user__review_item__list__maker
                  = review.maker

        





