.container
  %h2 アイテムの編集
  .container__main
    = form_for @item, local: true do |f|
      .user_form
        .field
          %ul
            %li  
              .topic 名前
            %li
              .necessarily 必須
          = f.text_field :name , placeholder: " 名前"
        .field       
          %ul
            %li  
              .topic メーカー
            %li
              .necessarily 必須
          = f.text_field :maker , placeholder: " メーカー名"
        .field
          %ul
            %li  
              .topic 価格
            %li
              .necessarily 必須
          = f.number_field :price , placeholder: " 価格"
        .field
          %ul
            %li  
              .topic 画像
            %li
              .necessarily 必須
          #image-box.image-form
            = f.fields_for :item_images do |i|
              = i.label :image do
                %i.fa.fa-image
                = i.file_field :image
                = i.hidden_field :image_cache
          .item_image_picture--box   
            -if @item.item_images
              -@item.item_images.reverse_each do |image|
                = image_tag "#{image.image}"


          .field 
            = f.label :tag_list
            = f.text_field :tag_list, value: @item.tag_list.join(',')

        .field
          %ul
            %li  
              .topic 説明
            %li
              .necessarily 必須
          = f.text_area :description , placeholder: " 商品の説明"
        .field
          %ul
            %li  
              .topic 種類
            %li
              .necessarily 必須
          = f.collection_select(:category_id, Category.all, :id, :name,{include_blank: "選択してください"},{class:"category__form"})
        .actions
          =f.submit '編集する'