.main
  .main__contents
    自分の好きなビールだったり、気になるビールや、挑戦したことのない種類のビールなど
    様々なビールについて語り合うレビューサイト  

    .main__contents__btn
      .main__contents__btn--join
        -if !user_signed_in?
          = link_to new_user_session_path do
            投稿する
            %br/
            （ユーザー登録・ログインが必要です）
        -else
          = link_to new_user_session_path do
            投稿する
            %br/
            （ユーザー登録が必要です）
      
      .main__contents__btn--show
        レビューを見る

  .main__item
    .main__item__post
    #item-new
      %p 新規投稿アイテム
      - @newitems.each do |item|
        .main__item__post__new
          = item.name
          = item.maker
          - item.item_images.each do |image|
            = image_tag "#{image.image}", class: "main__item__post__new__image"

    .main__item__comment
      最新レビューアイテム
      - @newitems.each do |item|
        .main__item__comment__new
          = item.name
          = item.maker
          - item.item_images.each do |image|
            = image_tag "#{image.image}", class: "main__item__comment__new__image"