.main
  .main__contents
    自分の好きなビールだったり、気になるビールや、挑戦したことのない種類のビールなど
    様々なビールについて語り合うレビューサイト  

    .main__contents__btn
      .main__contents__btn--join
        -if !user_signed_in?
          = link_to new_user_session_path do
            投稿する
            %br/
            （ユーザー登録・ログインが必要です）
        -else
          = link_to new_user_session_path do
            投稿する
            %br/
            （ユーザー登録が必要です）
      
      .main__contents__btn--show
        = link_to category_index_path do
          レビューを見る

  .main__item
    .new-post-title
      新規追加アイテム
      .main__item__post    
        - @newitems.each do |item|
          .main__item__post__new
            = link_to item_path(item.id) do
              = image_tag item.item_images[0].image.url , class: "main__item__post__new__image"
              .main__item__post__new__name
                = item.name
              .main__item__post__new__maker
                = item.maker

    .new-comment-title
      最新レビュー追加
      .main__item__comment
        - @newitems.each do |item|
          .main__item__comment__new
            = link_to item_path(item.id) do
              = image_tag item.item_images[0].image.url, class: "main__item__comment__new__image"
              .main__item__comment__new__name
                = item.name
              .main__item__comment__new__maker
                = item.maker