.container
  %h2 アイテムの追加
  .container__main
    = form_for @item do |f|
      .user_form
        .field
          %ul
            %li  
              .topic 名前
            %li
              .necessarily 必須
          = f.text_field :name , placeholder: " 名前"
        .field       
          %ul
            %li  
              .topic メーカー
            %li
              .necessarily 必須
          = f.text_field :maker , placeholder: " メーカー名"
        .field
          %ul
            %li  
              .topic 価格
            %li
              .necessarily 必須
          = f.number_field :price , placeholder: " 価格"
        .field
          %ul
            %li  
              .topic 画像
            %li
              .necessarily 必須
          #image-box.image-form
            = f.fields_for :item_images do |i|
              = i.file_field :image, onchange: 'previewImage(preview)'
              = image_tag "", id: "preview"
              = i.hidden_field :image_cache
        .field 
          = f.label :tag_list
          = f.text_field :tag_list, value: @item.tag_list.join(',')
        .field
          %ul
            %li  
              .topic 説明
            %li
              .necessarily 必須
          = f.text_area :description , placeholder: " 商品の説明"
        .field
          %ul
            %li  
              .topic 種類
            %li
              .necessarily 必須
          = f.collection_select(:category_id, Category.all, :id, :name,{include_blank: "選択してください"},{class:"category__form"})
        .actions
          =f.submit '追加する'