.item__show
  .item__show__main
    .item__show__main__picture
      - @item.item_images.each do |image|
        = image_tag "#{image.image}"
    .item__show__main__data
      .item__show__main__data--name
        .item_data__name
          = @item.name
        .item_data__price
          = "#{@item.price} 円"
      .item__show__main__data--maker
        = @item.maker
      .item__show__main__data--category
        = @category.name
      .item__show__main__data--description
        = @item.description
  .review
    .review__content
      このビールに対する評価を星１〜５でしてください
      .review__star
        星１〜５
    .comment
      コメントがあればこちらに
      .comment__box
        %textarea