.item__show
  .item__show__main
    .item__show__main__data
      .item__show__main__data--name
        .item_data
          .item_data__name
            = @item.name
          .item_data__price
            = "#{@item.price} 円"
        .review_count
          = "レビュー数　#{@item.comments.length}件"
      .item__show__main__data--maker
        = @item.maker
      .item__show__main__data--category
        = @category.name
        .rate-star{id: "star-rate-#{@item.id}"}
          -if @average_review == 0
            .rate-star__noreview
              まだレビューがありません
          -else  
            = image_tag ("star-on.png")  
            = @average_review
          :erb
            <script>
            $("#star-rate-#{@item.id}").raty({
              size: 36,
              starOff: "/assets/star-off.png",
              starOn: "/assets/star-on.png",
              starHalf: "/assets/star-half.png",
              half: true,
              readOnly: true,
              score: "@average_review" ,
              //注目ポイント↑ 平均点を算出し、round関数で切り上げ
            });
            </script>
      .item__show__main__data--description
        = @item.description
      .item_review
        .item_review__list
          -@item.comments.each do |comment|
            .item_review__list__content{id: "comment-#{comment.id}"}
              .item_review__list__content__user
                .item_review__list__content__user--name
                  = link_to comment.user.nickname ,"/users/#{comment.user_id}"
                .item_review__list__content__user--delete
                  = link_to item_comment_path(comment.item_id, comment.id) ,method: :delete, remote: true, data: { confirm: 'コメントを削除しますか？' }  do
                    = icon("fa","trash-alt")
                .rate
                  = image_tag ("star-on.png")
                  = "#{comment.rate}点"
                .rate-star{id: "star-rate-#{comment.id}"}
                  -# :erb
                  -#   <script>
                  -#     $("#star-rate-<%= comment.id %>").raty({
                  -#       size: 36,
                  -#       starOff: "/assets/star-off.png",
                  -#       starOn: "/assets/star-on.png",
                  -#       starHalf: "/assets/star-half.png",
                  -#       half: true,
                  -#       readOnly: true,
                  -#       score: <%= comment.rate %>,
                  -#     });
                  -#   </script>  
              .item_review__list__text
                .item_review__list__text--body
                  = comment.text
                .item_review__list__text--time
                  = comment.created_at.strftime("%Y-%m-%d %H:%M")
    .item__show__main__picture
      .item__show__main__picture--box    
        - @item.item_images.each do |image|
          = image_tag "#{image.image}"
      .item_edit
        .item_edit__update
          EDIT
        .item_edit__delete
          = link_to item_path(@item.id), method: :delete, data: {confirm: "削除しますか？"} do
            DELETE
          
  .review
    .review__content
      = "#{@item.name} のレビュー"
      .review__star
        このビールに対する評価をコメント＋
        = image_tag("star-on")
        を１〜５でしてください
        


    .comment__area
      レビューはこちらから
      -if current_user
        = form_with model: [@item, @comment], local: true , id: "new_comment" do |form|
          .comment__box
            = form.text_area :text, rows: "2", class: "textbox"
          #star.form-group
            = form.label :rate,'評価 '
            = form.hidden_field :rate, id: :review_star
            
            .comment__submit
            %button{type: "submit", class:'comment__submit__btn'} 
              %i.fas.fa-comment
                コメントする
      -else
        .comment__caution__login
          ※※※ コメントの投稿には
          =link_to "新規登録" ,new_user_registration_path 
          または
          =link_to "ログイン", new_user_session_path 
          が必要です ※※※

  
      :erb
        <script>
        $('#star').raty({
          size: 36,
          starOff: "/assets/star-off.png",
          starOn: "/assets/star-on.png",
          starHalf: "/assets/star-half.png",
          scoreName: 'comment[rate]', 
          half: true, 
        });
        </script>





