!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp2
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %section.header
      .header__contents
        .header__contents__top
          = link_to root_path do
            beer rebrew
            .sub
              〜ビールレビューサイト〜
      -if user_signed_in?
        .header__contents__bottom
          .header__contents__bottom__left
            = link_to "Mypage", user_path(current_user.id)
            = link_to "Log out", destroy_user_session_path, method: :delete
          .header__contents__bottom__right
            = link_to "アイテム追加" , new_item_path
      -else
        .header__contents__bottom
          .header__contents__bottom__left
            = link_to "Signup", new_user_registration_path
            = link_to "login", new_user_session_path
          .header__contents__bottom__right
          
    = yield
    - if controller_name != "registrations" && controller_name != "sessions" && controller_name != "passwords"&& action_name != "show"
      = link_to category_index_path do
        %section.add
          .add__title
            レビューを投稿する
       

